* {
    margin: 0;
    padding: 0;
    overflow-y: hidden; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3DEC1;
    display: flex;
    flex-direction: row;
  }

  li span {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  li span:hover {
    background-color: #F7F9F7;
  }
#bottom-bar{
    background-color: #F7F9F7;
}
h1{
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
}

p{
    font-size: 20px;
    margin-left: 30px;
}
  /* navbar*/
.section {
  width: 85%;
  height: 100vh;
  padding-top: 25vh;
  padding-left: 7%;
}
#section-flexbox {
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

#profile-picture {
  width:120px;
  flex-grow: 30;
}
#profile-div {
  order: -1;
  width:250px;
}
a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

#next {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #b3dddede;
  cursor: pointer;
}
#previous{
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #b3dddede;
  cursor: pointer;
  margin-top: 60px;
}
#next:hover {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 35px solid #b3dddede;
  cursor: pointer;
}
#previous:hover {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 35px solid #b3dddede;
  cursor: pointer;
}
.button-seperator{
  width: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#duck {
  display: block;
  width: 150px;
  height: 150px;
  margin-left: 35%;
  margin-bottom: 10px;
}
#partofduck {
  margin-top: 5%;
}
@media (max-width: 1250px) {
#profile-div {
  order: -1;
  flex-grow: 4;
  text-align: center;
  height: 150px;
}

p{
    font-size: 20px;
}
}

@media (max-width: 750px) {
.button-seperator{
  display: none;
}
  #profile-div {
  order: -1;
  width:250px;
}
  #section-flexbox{
    flex-wrap: wrap;
  }
  p {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  ul {
    justify-content: baseline;
    
  }
}